//library imort
@import "variables";

// global styles
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $primary-color;
}

// Login Regiter Profile Update Form
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    background-color: $primary-color;
    box-shadow: $box-shadow;
    padding: 1rem;
    font-family: $body-font;
    width: 50%;
    border-radius: 12px;

    h3 {
      text-align: center;
      text-transform: capitalize;
      font-family: $heading-font;
      color: $secondary-color;
      font-size: 32px;
      letter-spacing: 2px;
    }
    .pd {
      padding-left: 10px;
    }
    .box {
      height: 2rem;
      border: none;
      outline: none;
      border-radius: 3px;
    }
    .btn {
      background-color: $tertiary-color;
      color: $primary-color;
      font-weight: bold;
      letter-spacing: 2px;
      border: none;
      border-radius: 6px;
      padding: 0.5rem 1rem;
      font-family: $body-font;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      text-transform: capitalize;
      &:hover {
        background-color: $primary-color;
        box-shadow: $box-shadow;
        color: $secondary-color;
      }
    }
    .files {
      color: $secondary-color;
      &::file-selector-button {
        font-weight: bold;
        color: $secondary-color;
        background-color: $tertiary-color;
        padding: 0.5rem;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    p {
      font-family: $body-font;
      color: $secondary-color;
      text-align: center;
      line-height: 1.6rem;
      a {
        color: $tertiary-color;
        text-decoration: none;
        text-transform: capitalize;
        font-family: $body-font;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

// User Dashboard

.dash-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .profile {
    width: 100%;
    margin: 0 6rem;
    border-radius: 0px 0px 12px 12px;
    height: 50vh;
    background-color: $primary-color;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: flex-end;

    .profile-img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      img {
        width: 160px;
        position: relative;
        top: 70px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 1rem;
      }
      h3 {
        position: relative;
        top: 50px;
        font-family: $body-font;
        font-weight: 500;
        color: $secondary-color;
        font-size: 32px;
      }
    }
    .profile-details {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 1rem;
      position: relative;

      a {
        color: $tertiary-color;
        text-decoration: none;
        text-transform: capitalize;
        font-family: $body-font;
        position: relative;
        top: 30px;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $secondary-color;
        }
      }
    }

    .heading {
      width: 100%;
      aspect-ratio: 1;
      background-color: #1c41af;

      .greeting {
        background-color: #000000;
        color: #ffffff;
        width: 100%;
        text-align: center !important;
        font-family: "Courier New", Courier, monospace;
      }
    }
  }
}

.user-details{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

//update profile
.up-img {
  width: 160px;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 1rem;
}
.hh{
    font-family: $heading-font;
    color: $secondary-color;
    font-size: 22px;
}


.error{
  color: rgb(182, 63, 63);
  text-transform: capitalize;
}
.message{
  text-align: center !important;
}



//Responisve queries


@media screen and (max-width: $md-width) {
  .dash-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .profile {
      width: 100%;
      margin: 0 1rem;
      border-radius: 0px 0px 12px 12px;
      height: 50vh;
      background-color: $primary-color;
      box-shadow: $box-shadow;
      display: flex;
      justify-content: space-between;
      padding: 0 4rem;
      align-items: flex-end;
  
      .profile-img {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        img {
          width: 160px;
          position: relative;
          top: 80px;
          aspect-ratio: 1;
          border-radius: 50%;
          margin-right: 1rem;
        }
        h3 {
          position: relative;
          top: 50px;
          font-family: $body-font;
          font-weight: 500;
          color: $secondary-color;
          font-size: 32px;
        }
      }
      .profile-details {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        gap: 1rem;
        position: relative;
  
        a {
          color: $tertiary-color;
          text-decoration: none;
          text-transform: capitalize;
          font-family: $body-font;
          position: relative;
          top: 40px;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $secondary-color;
          }
        }
      }
  
      .heading {
        width: 100%;
        aspect-ratio: 1;
        background-color: #1c41af;
  
        .greeting {
          background-color: #000000;
          color: #ffffff;
          width: 100%;
          text-align: center !important;
          font-family: "Courier New", Courier, monospace;
        }
      }
    }
  }
  
  .user-details{
      display: flex;
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
  }
  
}

@media screen and (max-width: $sm-width) {
.form-container{
  width: 100%;
  .form{
    width: 100%;
    margin-top: 4rem;
    margin-left: 3rem;
  }
}
.dash-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .profile {
    width: 100%;
    margin: 0 1rem;
    border-radius: 0px 0px 12px 12px;
    height: 50vh;
    background-color: $primary-color;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: flex-end;

    .profile-img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      img {
        width: 160px;
        position: relative;
        top: 80px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-right: 1rem;
      }
      h3 {
        position: relative;
        top: 70px;
        font-family: $body-font;
        font-weight: 500;
        color: $secondary-color;
        font-size: 22px;
      }
    }
    .profile-details {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 1rem;
      position: relative;

      a {
        color: $tertiary-color;
        text-decoration: none;
        text-transform: capitalize;
        font-family: $body-font;
        position: relative;
        top: 50px;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $secondary-color;
        }
      }
    }

    .heading {
      width: 100%;
      aspect-ratio: 1;
      background-color: #1c41af;

      .greeting {
        background-color: #000000;
        color: #ffffff;
        width: 100%;
        text-align: center !important;
        font-family: "Courier New", Courier, monospace;
      }
    }
  }
}

.user-details{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
  
}